<xml>
<ToUserName><![CDATA[{{ toUser }}]]></ToUserName>
<FromUserName><![CDATA[{{ fromUser }}]]></FromUserName>
<CreateTime>{{ createTime }}</CreateTime>
<MsgType><![CDATA[msgType]]></MsgType>

{% if msgType == 'text' %}
	<Content><![CDATA[{{ reply['content'] }}]]></Content>
{% elif msgType == 'image' %}
	<Image>
	<MediaId>{{ reply['mediaId'] }}</MediaId>
	</Image>
{% elif msgType == 'voice' %}
	<Voice>
	<MediaId>{{ reply['mediaId'] }}</MediaId>
	</Voice>
{% elif msgType == 'video' %}
	<Video>
	<MediaId>{{ reply['mediaId'] }}</MediaId>
	<ThumbMediaId>{{ reply['thumbMediaId'] }}></ThumbMediaId>
	</Video>
{% elif msgType == 'music' %}
	<Music>
		<Title><![CDATA[{{ reply['title'] }}]]></Title>
		<Description><![CDATA[{{ reply['description'] }}]]></Description>
		<MusicUrl><![CDATA[{{ reply['musicUrl'] }}]]></MusicUrl>
		<HQMusicUrl><![CDATA[{{ reply['hqMusicUrl'] }}]]></HQMusicUrl>
	</Music>
{% elif msgType == 'news' %}
	<ArticleCount>{{ len(reply['articles']) }}</ArticleCount>
	<Articles>
	{% for item in reply['articles'] %}
		<item>
		<Title><![CDATA[{{ item['title'] }}]]></Title>
		<Description><![CDATA[{{ item['description'] }}]]></Description>
        <PicUrl><![CDATA[{{ item['picurl'] }}]]></PicUrl>
		<Url><![CDATA[{{ item['url'] }}{% if '?' in item['url'] %}&{% else %}?{% end %}openid={{ to_user }}{% if extra_params %}&{{ extra_params }}{% end %}]]></Url>
		</item>
	{% end %}
	</Articles>
{% end %}
</xml>